/*https://www.htmlcsscolor.com/hex/ECCBE2
*/

body {
background-color: #f8f8f8;
}

ul {
   list-style-type: none;
}

a:link {
    color: #0000d0; 
   }
a:hover {
    color: #978291; 
}
.menu {
    color: black;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.65; 
}

.good_header {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea  
}
.good_text {}

.description_text {
    color: #707070;
    font-size: 14px;
    font-style:italic;
    line-height: 16px;
}

.info_header {}

.info_text {
    color: #978291;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align:left; 
}

.good_list {
    font-family: serif;
    font-size: 18px;
    color: #796874;  
    list-style-image: url("pic/chz.jpg");
}

.contacts_input {
    height: 16px;
    width: 300px;
    color: #061410;
    font-size: 16px;
}

.good_img {
    border: 10px solid #ECCBE2;
}
.good_img:hover{
     border: 10px solid #f8f8f8
}

input { 
    text-transform: capitalize; 
   }
.email:hover{
    color:  #978291;
    background-color: azure;
}

p:first{
    text-transform: uppercase;
    
}
.footer{}

.header{}

